.u-center-text {
    text-align: center !important;
}

._img-fluid {
    width: 100%;
    height: 100%;
}

._mb-1 {
    margin-bottom: 1rem !important;
}
._mb-2 {
    margin-bottom: 2rem !important;
}
._mb-3 {
    margin-bottom: 3rem !important;
}
._mb-4 {
    margin-bottom: 4rem !important;
}
._mb-5 {
    margin-bottom: 5rem !important;
}
._mb-6 {
    margin-bottom: 6rem !important;
}
._mb-7 {
    margin-bottom: 7rem !important;
}
._mb-8 {
    margin-bottom: 8rem !important;
}
._mb-9 {
    margin-bottom: 9rem !important;
}
._mb-10 {
    margin-bottom: 10rem !important;
}

._mt-1 {
    margin-top: 1rem !important;
}
._mt-2 {
    margin-top: 2rem !important;
}
._mt-3 {
    margin-top: 3rem !important;
}
._mt-4 {
    margin-top: 4rem !important;
}
._mt-5 {
    margin-top: 5rem !important;
}
._mt-6 {
    margin-top: 6rem !important;
}
._mt-7 {
    margin-top: 7rem !important;
}
._mt-8 {
    margin-top: 8rem !important;
}
._mt-9 {
    margin-top: 9rem !important;
}
._mt-10 {
    margin-top: 10rem !important;
}

._py-1 {
    padding: 1rem 0 !important;
}
._py-2 {
    padding: 2rem 0 !important;
}
._py-3 {
    padding: 3rem 0 !important;
}
._py-4 {
    padding: 4rem 0 !important;
}
._py-5 {
    padding: 5rem 0 !important;
}
._py-6 {
    padding: 6rem 0 !important;
}
._py-7 {
    padding: 7rem 0 !important;
}
._py-8 {
    padding: 8rem 0 !important;
}
._py-9 {
    padding: 9rem 0 !important;
}
._py-10 {
    padding: 10rem 0 !important;
}

._px-1 {
    padding: 0 1rem !important;
}
._px-2 {
    padding: 0 2rem !important;
}
._px-3 {
    padding: 0 3rem !important;
}
._px-4 {
    padding: 0 4rem !important;
}
._px-5 {
    padding: 0 5rem !important;
}
._px-6 {
    padding: 0 6rem !important;
}
._px-7 {
    padding: 0 7rem !important;
}
._px-8 {
    padding: 0 8rem !important;
}
._px-9 {
    padding: 0 9rem !important;
}
._px-10 {
    padding: 0 10rem !important;
}

._my-1 {
    margin: 1rem 0 !important;
}
._my-2 {
    margin: 2rem 0 !important;
}
._my-3 {
    margin: 3rem 0 !important;
}
._my-4 {
    margin: 4rem 0 !important;
}
._my-5 {
    margin: 5rem 0 !important;
}
._my-6 {
    margin: 6rem 0 !important;
}
._my-7 {
    margin: 7rem 0 !important;
}
._my-8 {
    margin: 8rem 0 !important;
}
._my-9 {
    margin: 9rem 0 !important;
}
._my-10 {
    margin: 10rem 0 !important;
}

._mx-1 {
    margin: 0 1rem !important;
}
._mx-2 {
    margin: 0 2rem !important;
}
._mx-3 {
    margin: 0 3rem !important;
}
._mx-4 {
    margin: 0 4rem !important;
}
._mx-5 {
    margin: 0 5rem !important;
}
._mx-6 {
    margin: 0 6rem !important;
}
._mx-7 {
    margin: 0 7rem !important;
}
._mx-8 {
    margin: 0 8rem !important;
}
._mx-9 {
    margin: 0 9rem !important;
}
._mx-10 {
    margin: 0 10rem !important;
}

._fs-1 {
    font-size: 1rem !important;
}

._fs-2 {
    font-size: 2rem !important;
}
._fs-3 {
    font-size: 3rem !important;
}
._fs-4 {
    font-size: 4rem !important;
}
._fs-5 {
    font-size: 5rem !important;
}
._fs-6 {
    font-size: 6rem !important;
}
._fs-7 {
    font-size: 7rem !important;
}
._fs-8 {
    font-size: 8rem !important;
}
._fs-9 {
    font-size: 9rem !important;
}
._fs-10 {
    font-size: 10rem !important;
}
